:root {
    --color-primary: #32313f;
    --color-secondary: #33b1c0;
}

* {
    /* font-family: 'Libre Baskerville', serif; */
    font-family: 'Montserrat', sans-serif;
}

.color--secondary {
    background-color: var(--color-secondary);
    color: white;
    opacity: 1;
}

.color--secondary p {
    color: rgb(255, 255, 255, 0.9);
}

#show--mobile {
    display: none;
}

#teste {
    width: 70%;
    /* height: 50%; */
    margin: auto;
    /* max-height: 80vh; */
    overflow: hidden;
    border: #32313fe0 solid 3px;
    border-radius: 10px;
    padding: 3px;
}

#teste img {
    /* border: #32313fe0 solid 3px; */
    border-radius: 5px;
}

#btn-1 {
    background-color: var(--color-secondary);
    border-color: transparent;
}

#mydiv {
    background-color: white;
    position: relative;
}

#square {
    position: absolute;
    bottom: 0;
    background-color: var(--color-secondary);
    width: 100vw;
    height: 50%;
    /* border-radius: 50%;
    border-width: 5px 5px 30px 15px;
    border-style: solid;
    border-color: black; */
    transform: scale(1.04, 1);
}

#square2 {
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 100vw;
    height: 50%;
    clip-path: ellipse(66% 64% at 34% 17%);
    transform: rotateY(-20deg);
    transform: scale(1.04, 1);
}

#btn-1,
#teste,
p {
    z-index: 10;
}

#mydiv p,
#mydiv h1,
#teste {
    z-index: 11;
    position: relative;
}

#img-2 {
    width: 100%;
    height: 300px;
}

.featurette {
    align-items: center;
    justify-content: space-between;
}

/* .featurette-image {
    right: 0;
} */


header {
    margin-bottom: 1.5rem;
}

#teste--p {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -190%);
    color: white;
    font-size: 2rem;
    text-shadow: 1px 1px #32313f;
}


/* MODAL  */
#modal {
    height: 50px;
    right: 30px;
    position: fixed;
    bottom: 30px;
}




@media (max-width: 800px) {

    #square,
    #square2 {
        display: none;
    }

    .nav-pills {
        display: none;
    }


    #teste {
        width: 100%;
        /* height: 50%; */
        margin: auto;
        /* max-height: 80vh; */
        overflow: hidden;
        border-width: 1px;
        margin-bottom: 1rem;
    }


    .featurette {
        align-items: center;
        justify-content: center;
    }

    .dfm {
        display: flex;
        justify-content: center;
    }

    footer {
        flex-direction: column;
    }

    #show--mobile {
        display: block;
        padding: 0 50px;
        font-size: 1rem;
        text-align: center;
    }

    .marketing {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .marketing img {
        margin-top: 8px;
    }

    .lead {
        line-height: 1;
        margin: 20px 0;
    }

    header {
        margin-bottom: 0 !important;
    }

    #teste--p {
        font-size: 1rem;
    }


}